@font-face {
  font-family: varela;
  src: url('~/assets/VarelaRound-Regular.ttf');
}

body {
  @apply tw-font-varela !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* customize vuetify css */
.v-application {
  font-family: unset !important;
}
